/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
   -webkit-box-sizing: inherit;
   box-sizing: inherit;
}

html {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;

  
}
