.book-now-banner {
    min-height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
       url(assets/imgs/image.jpg) center fixed;
    color: #fff;
    font-family: $text-regular;
    font-weight: bold;
 }
 